<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prueba03">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prueba03">
        <activity android:name="com.example.Ayudas.Ayuda_Animales"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity
            android:name="com.example.MainActivity"
            android:theme="@style/Theme.Prueba03.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Animales -->
        <activity
            android:name="com.example.Activity.Animal.Activity_Animal"
            android:theme="@style/Theme.Prueba03.NoActionBar" />
        <activity
            android:name="com.example.Activity.Animal.Activity_Animal_Ternero"
            android:theme="@style/Theme.Prueba03.NoActionBar" />
        <activity
            android:name="com.example.Activity.Animal.Activity_Animal_Vaca"
            android:theme="@style/Theme.Prueba03.NoActionBar" />
        <activity
            android:name="com.example.Activity.Animal.Activity_Animal_Toro"
            android:theme="@style/Theme.Prueba03.NoActionBar" />
        <!-- Crotales -->
        <activity
            android:name="com.example.Activity.Crotal.Activity_Crotal_Pedidos"
            android:theme="@style/Theme.Prueba03.NoActionBar" />
        <activity
            android:name="com.example.Activity.Crotal.Activity_Crotal_Recibidos"
            android:theme="@style/Theme.Prueba03.NoActionBar" />
        <activity
            android:name="com.example.Activity.Crotal.Activity_Crotal_SinPoner"
            android:theme="@style/Theme.Prueba03.NoActionBar" />
        <activity
            android:name="com.example.Activity.Crotal.Activity_Crotal_Faltan"
            android:theme="@style/Theme.Prueba03.NoActionBar" />
        <!-- Veterinario -->
        <activity
            android:name="com.example.Activity.Veterinario.Activity_Veterinario_Controles"
            android:theme="@style/Theme.Prueba03.NoActionBar" />
        <activity
            android:name="com.example.Activity.Veterinario.Activity_Veterinario_Visitas"
            android:theme="@style/Theme.Prueba03.NoActionBar" />
        <!-- Compraventa -->
        <activity
            android:name="com.example.Activity.Compraventa.Activity_Compraventa_Compras"
            android:theme="@style/Theme.Prueba03.NoActionBar" />
        <activity
            android:name="com.example.Activity.Compraventa.Activity_Compraventa_Ventas"
            android:theme="@style/Theme.Prueba03.NoActionBar" />
        <activity
            android:name="com.example.Activity.Compraventa.Activity_Compraventa_Ventas_Realizadas"
            android:theme="@style/Theme.Prueba03.NoActionBar" />
        <activity
            android:name="com.example.Activity.Compraventa.Activity_Compraventa_Ventas_Planificadas"
            android:theme="@style/Theme.Prueba03.NoActionBar" />
        <!-- Rebaño -->
        <activity
            android:name="com.example.Activity.Rebano.Activity_Rebano"
            android:theme="@style/Theme.Prueba03.NoActionBar" />
        <!-- Exportar -->
        <activity
            android:name="com.example.Activity.Datos.Activity_Exportar"
            android:theme="@style/Theme.Prueba03.NoActionBar" />
    </application>

</manifest>